{{- $cfg := .Values.crossplaneProvider }}
{{- if and $cfg $cfg.enabled }}
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: provider-vault
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  package: {{ $cfg.package | default "xpkg.upbound.io/upbound/provider-vault:v3.0.3" | quote }}
---
apiVersion: vault.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: {{ $cfg.providerConfig.name | default "vault-admin" }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  address: {{ $cfg.providerConfig.address | default "http://vault-active.vault.svc.cluster.local:8200" | quote }}
  skipTlsVerify: {{ $cfg.providerConfig.skipTlsVerify | default true }}
  credentials:
    source: Secret
    secretRef:
      namespace: {{ $cfg.providerConfig.credentialsSecret.namespace | default "crossplane-system" }}
      name: {{ $cfg.providerConfig.credentialsSecret.name | default "vault-admin-token" }}
      key: {{ $cfg.providerConfig.credentialsSecret.key | default "token" }}
{{- end }}
