# Production Environment
# Platform applications with sync wave ordering
applications:
- name: metallb
  namespace: 'metallb-system'
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  destinationNamespaceOverwrite: 'metallb-system'
  ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: bgppeers.metallb.io
    jsonPointers:
      - /spec/conversion/webhook/clientConfig/caBundle
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: ipaddresspools.metallb.io
    jsonPointers:
      - /spec/conversion/webhook/clientConfig/caBundle
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: l2advertisements.metallb.io
    jsonPointers:
      - /spec/conversion/webhook/clientConfig/caBundle
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: bgpadvertisements.metallb.io
    jsonPointers:
      - /spec/conversion/webhook/clientConfig/caBundle
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: communities.metallb.io
    jsonPointers:
      - /spec/conversion/webhook/clientConfig/caBundle
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: bfdprofiles.metallb.io
    jsonPointers:
      - /spec/conversion/webhook/clientConfig/caBundle

- name: ingress-nginx
  annotations:
    argocd.argoproj.io/sync-wave: "-5"
  destinationNamespaceOverwrite: 'ingress-nginx'

- name: cert-manager
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  destinationNamespaceOverwrite: 'cert-manager'
  syncOptions:
  - ServerSideApply=true

- name: external-dns
  annotations:
    argocd.argoproj.io/sync-wave: "5"
  destinationNamespaceOverwrite: 'external-dns'

- name: sealed-secrets
  annotations:
    argocd.argoproj.io/sync-wave: '10'
  destinationNamespaceOverwrite: 'sealed-secrets'

- name: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "15"
  destinationNamespaceOverwrite: argocd
  syncOptions:
  - Replace=false
  - ApplyOutOfSyncOnly=true
  ignoreDifferences:
  - group: argoproj.io
    kind: Application
    jqPathExpressions:
    - .status
    - .operation

commonLabels:
  platform.pnats.cloud/environment: 'production'
