{{- $vaultSecrets := .Values.vaultSecrets }}
{{- if and $vaultSecrets $vaultSecrets.items }}
{{- range $secret := $vaultSecrets.items }}
apiVersion: kv.vault.upbound.io/v1alpha1
kind: SecretV2
metadata:
  name: {{ printf "%s-%s" (include "pn-crossplane.fullname" $) $secret.name | trunc 63 | trimSuffix "-" }}
  annotations:
    # Depends on the provider + ProviderConfig being installed first.
    argocd.argoproj.io/sync-wave: "90"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  forProvider:
    mount: {{ $secret.mount | default $vaultSecrets.mount | default "secret" | quote }}
    name: {{ $secret.path | quote }}
    data:
{{- range $key, $value := $secret.data }}
      {{ $key }}: {{ $value | quote }}
{{- end }}
  providerConfigRef:
    name: {{ $secret.providerConfigRef | default $vaultSecrets.providerConfigRef }}
---
{{- end }}
{{- end }}
