{{/*
GitOps-managed Vault KV secrets
*/}}
{{- if .Values.vault }}
{{- range $index, $secret := .Values.vault.secrets }}
---
apiVersion: secrets.vault.upbound.io/v1alpha1
kind: KVSecretV2
metadata:
  name: {{ printf "%s-%s" (include "crossplane.fullname" $) $secret.name | trunc 63 | trimSuffix "-" }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
    {{- if $secret.description }}
    platform.pnats.cloud/description: {{ $secret.description | quote }}
    {{- end }}
spec:
  forProvider:
    mount: {{ $secret.mount | default "secret" }}
    path: {{ $secret.path }}
    dataJson: |
      {{- $secret.data | toJson | nindent 6 }}
  providerConfigRef:
    name: default
{{- end }}
{{- end }}
