{{- $eso := .Values.eso }}
{{- if and $eso.enabled $eso.providerUrl }}
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: {{ $eso.backendName | default "vault-backend" }}
  namespace: external-secrets
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/sync-wave: "50"

spec:
  provider:
    vault:
      server: "{{ $eso.providerUrl }}"
      path: "{{ $eso.mount | default "secret" }}"
      version: "v2"
      namespace: vault
      auth:
        {{- if and $eso.kubernetesAuth $eso.kubernetesAuth.role }}
        kubernetes:
          mountPath: "{{ $eso.kubernetesAuth.mountPath | default "kubernetes" }}"
          role: "{{ $eso.kubernetesAuth.role }}"
          {{- if $eso.kubernetesAuth.serviceAccountRef }}
          serviceAccountRef:
            name: "{{ $eso.kubernetesAuth.serviceAccountRef.name | default "external-secrets" }}"
            namespace: "{{ $eso.kubernetesAuth.serviceAccountRef.namespace | default "external-secrets" }}"
          {{- end }}
        {{- else }}
        tokenSecretRef:
          name: "vault-init"
          key: "root_token"
          namespace: vault
        {{- end }}
{{ end }}
