apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: flowcollectors.flows.netobserv.io
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  group: flows.netobserv.io
  names:
    kind: FlowCollector
    listKind: FlowCollectorList
    plural: flowcollectors
    singular: flowcollector
  scope: Cluster
  versions:
  - name: v1beta2
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              namespace:
                type: string
                description: Namespace where NetObserv pods are deployed
              agent:
                type: object
                properties:
                  type:
                    type: string
                    enum: ["eBPF", "IPFIX"]
                  ebpf:
                    type: object
                    properties:
                      sampling:
                        type: integer
                        minimum: 1
                      resources:
                        type: object
                        properties:
                          requests:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
                          limits:
                            type: object
                            properties:
                              cpu:
                                type: string
                              memory:
                                type: string
              processor:
                type: object
                properties:
                  replicas:
                    type: integer
                    minimum: 1
                  resources:
                    type: object
              loki:
                type: object
                properties:
                  enable:
                    type: boolean
                  url:
                    type: string
              prometheus:
                type: object
                properties:
                  enable:
                    type: boolean
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
    subresources:
      status: {}
