# Staging Environment
# Global Configuration - Staging Environment
applications:
- name: crossplane
  annotations:
    argocd.argoproj.io/sync-wave: '-10'
  destinationNamespaceOverwrite: crossplane-system
  syncOptions:
  - CreateNamespace=true

- name: external-secrets
  annotations:
    argocd.argoproj.io/sync-wave: '0'
  destinationNamespaceOverwrite: external-secrets
  syncOptions:
  - ServerSideApply=true
  ignoreDifferences:
  - group: admissionregistration.k8s.io
    kind: ValidatingWebhookConfiguration
    jqPathExpressions:
    - .webhooks[].clientConfig.caBundle

- name: vault
  annotations:
    argocd.argoproj.io/sync-wave: '10'
  destinationNamespaceOverwrite: vault
  syncOptions:
  - ServerSideApply=true
  - CreateNamespace=true
  ignoreDifferences:
  - group: apps
    kind: StatefulSet
    jqPathExpressions:
    - .spec.volumeClaimTemplates[]

- name: keycloak
  annotations:
    argocd.argoproj.io/sync-wave: '30'
  destinationNamespaceOverwrite: keycloak
  syncOptions:
  - CreateNamespace=true
  - ServerSideApply=true

- name: kyverno
  annotations:
    argocd.argoproj.io/sync-wave: '20'
  destinationNamespaceOverwrite: kyverno
  syncOptions:
  - CreateNamespace=true

- name: falco
  annotations:
    argocd.argoproj.io/sync-wave: '40'
  destinationNamespaceOverwrite: falco
  syncOptions:
  - CreateNamespace=true

- name: falco-talon
  annotations:
    argocd.argoproj.io/sync-wave: '45'
  destinationNamespaceOverwrite: falco-talon
  syncOptions:
  - CreateNamespace=true

- name: netobserv
  annotations:
    argocd.argoproj.io/sync-wave: '50'
  destinationNamespaceOverwrite: netobserv
  syncOptions:
  - CreateNamespace=true
  - ServerSideApply=true
  ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    jqPathExpressions:
    - .spec.conversion.webhook.clientConfig.caBundle
  - group: apps
    kind: DaemonSet
    jqPathExpressions:
    - .spec.template.spec.containers[].resources

commonLabels:
  platform.pnats.cloud/environment: 'staging'
