{{- $root := . }}
{{- $realm := .Values.realm }}
{{- range $group := .Values.groups }}
{{- if ($group.enabled | default true) }}
apiVersion: group.keycloak.crossplane.io/v1alpha1
kind: Group
metadata:
  name: {{ printf "%s-%s" (include "pn-keycloak.fullname" $root) $group.name | trunc 63 | trimSuffix "-" }}
  annotations:
    argocd.argoproj.io/sync-wave: "15"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  deletionPolicy: {{ $group.deletionPolicy | default "Delete" }}
  providerConfigRef:
    name: {{ printf "%s-crossplane" (include "pn-keycloak.fullname" $root) }}
  forProvider:
    realmId: {{ $realm.name }}
    name: {{ $group.name }}
{{- if $group.attributes }}
    attributes:
{{- range $key, $vals := $group.attributes }}
      {{- if kindIs "slice" $vals }}
      {{ $key }}: {{ join "##" $vals | quote }}
      {{- else }}
      {{ $key }}: {{ $vals | quote }}
      {{- end }}
{{- end }}
{{- end }}
---
{{- end }}
{{- end }}
