namespace: kroxylicious-operator

image:
  repository: quay.io/kroxylicious/operator
  tag: "0.18.0"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: "1"
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 512Mi

