{{- if .Values.secrets.externalSecrets }}
{{- range .Values.secrets.externalSecrets }}
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ .name }}
  namespace: {{ $.Release.Namespace }}
spec:
  refreshInterval: {{ .refreshInterval | default "1h" }}
  secretStoreRef:
    name: {{ .secretStoreRef.name | default "vault-backend" }}
    kind: {{ .secretStoreRef.kind | default "ClusterSecretStore" }}
  target:
    name: {{ .target | default .name }}
    creationPolicy: {{ .creationPolicy | default "Merge" }}
  data:
    {{- range .data }}
    - secretKey: {{ .secretKey }}
      remoteRef:
        key: {{ .remoteRef.key }}
        {{- if .remoteRef.property }}
        property: {{ .remoteRef.property }}
        {{- end }}
    {{- end }}
{{- end }}
{{- end }}
