applications:
- name: strimzi-kafka-operator
  project: data-streaming
  sources:
  - repoURL: https://github.com/ProficientnowTech/pn-infra.git
    targetRevision: v2
    path: platform/stacks/data-streaming/charts/kafka
  annotations:
    argocd.argoproj.io/sync-wave: '0'
  destinationNamespaceOverwrite: strimzi-kafka-operator
  syncOptions:
  - ServerSideApply=true
  - Replace=true
  ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    jsonPointers:
    - /status
    - /metadata/annotations
    - /metadata/creationTimestamp
    - /metadata/generation
    - /metadata/resourceVersion
    - /metadata/uid
    - /metadata/managedFields
    - /spec/conversion
    - /spec/versions

- name: kafka-cluster
  project: data-streaming
  sources:
  - repoURL: https://github.com/ProficientnowTech/pn-infra.git
    targetRevision: v2
    path: platform/stacks/data-streaming/charts/kafka-cluster
  annotations:
    argocd.argoproj.io/sync-wave: '10'
  destinationNamespaceOverwrite: strimzi-kafka-operator
  syncOptions:
  - ServerSideApply=true
  ignoreDifferences:
  - group: kafka.strimzi.io
    kind: Kafka
    jsonPointers:
    - /status
